/*** BEGIN file-header ***/
#include <config.h>
#include <glib.h>
/*** END file-header ***/
/*** BEGIN value-header ***/
const gchar *mgd_authfailure_msg[] = {
/*** END value-header ***/
/*** BEGIN value-production ***/
	"@valuenick@",
/*** END value-production ***/
/*** BEGIN value-tail ***/
	NULL
};
/*** END value-tail ***/
