/*** BEGIN file-header ***/
#include <config.h>
#include <glib.h>
/*** END file-header ***/
/*** BEGIN value-header ***/
#define INT(a)
#define EXT(a) #a
#define BOTH(a) #a
const gchar *mgd_table_extname[] = {
        NULL,
/*** END value-header ***/
/*** BEGIN value-production ***/
        @valuenick@,
/*** END value-production ***/
/*** BEGIN value-tail ***/
        NULL
};
/*** END value-tail ***/
